
/*text center*/

/*div center*/


#p1 {background-color:#ff0000;}
#p2 {background-color:#00FFFF;}

.navbar-custom { 
            background-color: #87CEEB;
        } 
        /* Modify brand and text color */ 
          
        .navbar-custom .navbar-brand, 
        .navbar-custom .navbar-text { 
            color: white; 

        }

        .navbar-custom2 { 
          background-color: white;
      } 
      /* Modify brand and text color */ 
        
      .navbar-custom .navbar-brand, 
      .navbar-custom .navbar-text { 
          color: white; 

      }

.vertical { 
            border-left: 1px solid black; 
            height: 50px; 
            position:static; 
            left: 50%; 
        } 
  body {
    background-color: white;
  }
  .feather {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
  }
  /*-------------------------------------------*/
      /* Modify the background color */
           
      .hero-title {
        color: #FFFFFF;
            font-size: 38px;
            font-weight: 900;
            text-align: center;
            margin-bottom: 0;
            margin-right: 800px;
    }
    
    *{
      font-family: 'LatoWeb';
    }
    
    .hero-text {
        color: #ffffff;
            font-size: 26px;
            letter-spacing: 0.9px;
            line-height: 27px;
            margin-top: 0;
            font-weight: 100;
            text-align: center;
            margin-right: 665px;
    }
    .hero-content {
          width: 100%;
            max-width: 1450px; /*set align img*/
            text-align: left;
    }
    .hero-content-inner {
            padding: 180px 0 75px 80px;/*tata letak box*/
            background-repeat: no-repeat;
            background-position: bottom right;
            background-size: 550px;
    }

    .button.link.button {
      text-decoration: none;
      text-align: center;
      display: block;
      border: 0;
      border-radius: 3px;
      color: #ff0000;
    }

    .form-control {
      /*
      height: 55px;
      width: 610px;
      border-radius: 5px;
      background-color: rgba(255,255,255,1);
      position:relative;
      */
      margin-right: 500;
    }

/*============================================================*/

body {font-family: Arial, Helvetica, sans-serif;}
/*form {border: 3px solid #f1f1f1;}*/

input[type=text1], input[type=password] {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 280px;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.btn1 {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 280px;
  border: none;
  cursor: pointer;
  width: 50%;
}

.btn1:hover {
  opacity: 0.8;
}

.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
  margin-left: 0px;
}/*cancel button background*/

.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
  margin-right: 0px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}

/*============================================================================*/
.footer_left{
  text-align: center;
}

.footer_nav{
  text-align: center;
  margin: 24px 45px 12px 0;
}

.footer_sosmed{
  text-align: center;
  margin: 24px 5px 12px 0;
}

.cr_box{
  text-align: center;
  margin: 24px 5px 12px 0;
}

.z{
  text-align: center;
}



.c{
  text-align: center;
  margin: 0px 0px 0px 280px;
  
}

.d{
  text-align: center;
  margin: 0px 0px 0px 280px;
  
}

.h{
  text-align: center;
  margin: 0px 0px 0px 280px;
}

.x{
  text-align: center;
  margin-left: 400px;
  margin-bottom: 0px;
  margin-top: 0px;
}

.background-size{
  width: 37%;/*ukuran background cancel*/
  padding: 20px 18px;
}